﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{Layout = "Views/_layouts/_master.cshtml";}

<div>
    <p>
        <span>Please Enter Your Mobile Number For Added Fun:</span>
        <input type="tel" id="mobile-number" />
    </p>
    <p id="message"></p>
</div>

<div id="game-content"></div>
